/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');*/

:root {
    --blue: #3652E1;
    --purple: #8057F5;
    --dark-purple: #7851E8;
    --black: #000000;
    --danger: #e74c3c;
    --warning: #f39c12;
    --success: #27ae60;
    --white: #ffffff;
    --white-1: #EFEFEFCC;

}
.border-gradient {
    display: inline-flex;
    border: double 6px transparent;
    border-radius: 80px;
    background-image: radial-gradient(circle at top left, #f00, #3020ff);
    background-origin: border-box;
    background-clip: border-box;
    background-color: transparent; /* Ensure full transparency */
}

.bg-gradient-primary {
    background: linear-gradient(90deg, var(--blue), var(--purple), var(--dark-purple), var(--purple));
}

.bg-gradient-secondary {
    background: linear-gradient(90deg, var(--blue), var(--purple));
}

.bg-primary,.bg-white-1 {
    background-color: var(--white-1);
}
.bg-secondary {
    background: linear-gradient(90deg, var(--blue), var(--purple));

}
.bg-blue{
    background-color: var(--blue);
}
.bg-blue-1{
    background-color: var(--purple);
}

.bg-white {
    background-color: var(--white);
}



/* Custom Color Classes */
.text-primary {
    color: var(--black);
}

.text-secondary {
    color: var(--blue);
}

.text-danger {
    color: var(--danger);
}

.text-warning {
    color: var(--warning);
}

.text-success {
    color: var(--success);
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.text-white-1 {
    color: var(--white-1);
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.semi_round_image{
   border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 80%;
}

.gradient-text{
        background: -webkit-linear-gradient(var(--blue),var(--purple), var(--dark-purple));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}


